<div *ngIf="chatService.usuario.uid !== undefined">
  <h1>Chat</h1>
  <hr />
  <div class="app-mensajes" id="app-mensajes">
    <div *ngFor="let chat of chatService.chats">
      <div class="text-right" *ngIf="chat.uid !== chatService.usuario.uid">
        <span class="badge badge-primary">{{ chat.nombre }}</span>
        <p>{{ chat.mensaje }}</p>
      </div>

      <div class="text-left" *ngIf="chat.uid === chatService.usuario.uid">
        <span class="badge badge-primary">Yo:</span>
        <p>{{ chat.mensaje }}</p>
      </div>
    </div>
  </div>

  <input
    class="form-control"
    type="text"
    name="mensaje"
    [(ngModel)]="mensaje"
    (keyup.enter)="enviarMensaje()"
    placeholder="Escribe un mensaje..."
  />
</div>
