<div class="container" style="padding: 2%">
  <h1>Pipes</h1>

  <br />

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Variable</th>
        <th scope="col">Pipe</th>
        <th scope="col">Resultado</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>{{nombre}}</td>
        <td>Uppercase</td>
        <td>{{nombre | uppercase}}</td>
      </tr>

      <tr>
        <td>{{nombre}}</td>
        <td>Lowercase</td>
        <td>{{nombre | lowercase}}</td>
      </tr>

      <tr>
        <td>{{nombre}}</td>
        <td>Slice: 1-3</td>
        <td>{{nombre | slice:1:3}}</td>
      </tr>

      <tr>
        <td>{{arreglo}}</td>
        <td>Slice: 1-3</td>
        <td>{{arreglo | slice:1:3}}</td>
      </tr>

      <tr>
        <td>{{PI}}</td>
        <td>number</td>
        <td>{{PI | number:"2.3-5"}}</td>
      </tr>

      <tr>
        <td>{{a}}</td>
        <td>percent</td>
        <td>{{a | percent: '2.2-2'}}</td>
      </tr>

      <tr>
        <td>{{salario}}</td>
        <td>currency</td>
        <td>{{salario | currency: "CRC":true:"1.2-2"}}</td>
      </tr>

      <tr>
        <td>{{promesa}}</td>
        <td>async</td>
        <td>{{promesa | async}}</td>
      </tr>

      <tr>
        <td>{{fecha}}</td>
        <td>date</td>
        <td>{{fecha | date:"medium"}}</td>
      </tr>

      <tr>
        <td>{{nombre2}}</td>
        <td>capitalizado</td>
        <td>{{nombre2 | capitalizado}}</td>
      </tr>

      <tr>
        <td>{{contrasena}}</td>
        <td>
          <p>contrasena:{{estadoContPipe}}</p>
          <button class="btn {{claseBoton}}" (click)="cambiarEstadoContPipe()">{{textoBoton}}</button>
        </td>
        <td>{{contrasena | contrasena:estadoContPipe }}</td>
      </tr>
    </tbody>
  </table>

  <h4>JSON</h4>
  <pre>{{persona | json}}</pre>


  <iframe [src]="spoti | domseguro:'https://open.spotify.com/embed/track/' " width="300" height="380" frameborder="0"
    allowtransparency="true" allow="encrypted-media"></iframe>
</div>