<ion-header no-border>
  <ion-toolbar color="dark">
    <ion-title>
      Estado Actual
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button color="tertiary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="top">
      <ion-fab-button color="success" (click)="agregaEventoAhora()">
        <ion-icon name="flash"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="success" (click)="agregaEventoPasado()">
        <ion-icon name="time"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-list>
    <ion-item-sliding>
      <ion-item color="dark">
        <ion-label>
          Última vez: {{ultimo | date: 'medium'}}
        </ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="primary" expendable>
          Hace {{diferencia | number:'1.0-0'}} horas
          </ion-item-option>
        </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-chip color="secondary">
    <ion-icon name="stopwatch" color="primary"></ion-icon>
    <ion-label>Trabaja cada {{promedio | number:'1.0-0'}} horas</ion-label>
  </ion-chip>
  



</ion-content>